<%= render 'shared/errors', obj: @post %>

<div class="well span8">
<%= form_for @post do |f| %> <!-- This model-backed form (form_for) knows which path & which HTTP method to choose depending on whether @post is a new or an existing object/record. -->

  <div class='control-group'>
  <%= f.label :title %>
  <%= f.text_field :title %>
  </div>

  <div class='control-group'>
  <%= f.label :url %>
  <%= f.text_field :url %>
  </div>

  <div class='control-group'>
  <%= f.label :description %>
  <%= f.text_area :description, rows: 5, :class => 'span4' %>
  </div>
  
  <div class='control-group'>
  <%= f.label "Categories" %>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %> 
    <% cb.label(class: "check_box inline") {cb.check_box(class: "check_box") + " " + cb.text} %>
  <% end %>
  </div>

  <%= f.submit @post.new_record? ? "Create New Post" : "Submit Edited Post", class: 'btn btn-primary' %>
<% end %>
</div>