<div class="row">
  <div class="span8 well">
    <%= render post.categories %>
    <h4><%= link_to post.title, post_path(post) %></h4>
    <p><%= link_to clean_url(post.url), fix_url(post.url) %></p>

    <p>(<%= link_to 'edit', edit_post_path(post) %>)</p>
    <p><%= post.description %></p>
    <p>
      <span class="quiet">posted by</span> <%= post.creator.username %>
      <small>at <%= display_datetime(post.created_at) %></small>
    </p>
    <small>
      <span>
        <%= link_to("#{post.comments.size} comments", post_path(post)) %>
      </span>
    </small>
  </div>
</div>